<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/default">
<body>
<div id="page" layout:fragment="content">
    <h1>Form</h1>
    <form action="#" th:action="@{/houseform}" th:object="${maison}" enctype="multipart/form-data" method="post">
        <p>Titre: <input type="text" th:field="*{titre}" /></p>
        <p th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}">Erreur Titre</p>
        <p>Description: <input type="text" th:field="*{description}" /></p>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Erreur Titre</p>
        <p>ListeServices: <input type="text" th:field="*{listeServices}" /></p>
        <p th:if="${#fields.hasErrors('listeServices')}" th:errors="*{listeServices}">Erreur Titre</p>
        <p>DateDispoDebut: <input type="date" th:field="*{dateDispoDebut}" /></p>
        <p th:if="${#fields.hasErrors('dateDispoDebut')}" th:errors="*{dateDispoDebut}">Erreur Titre</p>
        <p>DateDispoFin: <input type="date" th:field="*{dateDispoFin}" /></p>
        <p th:if="${#fields.hasErrors('dateDispoFin')}" th:errors="*{dateDispoFin}">Erreur Titre</p>

        <th:block th:each="tagTypes, iStat : ${tagTypesList}">
            <div th:text="${tagTypes.get(0).type}"></div>
            <select type="date" th:field="*{tags}" multiple>
                <option value="">Choose..</option>
                <option th:each="tag: ${tagTypes}" th:value="${tag.id}" th:text="${tag.libelle}" />
            </select>
        </th:block>
        <p th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}">Erreur Titre</p>

        <p>Upload one or multiple files : <input type="file" name="files" multiple /></p>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

<!--        <p th:if="${#fields.hasAnyErrors()}">Any Error</p>-->
    </form>
</div>
</body>
</html>