<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/default">
<body>
<div id="page" layout:fragment="content">
    <h1>Réservation du logement</h1>
    <div class="list-group ">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow mt-2">
                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <form action="#" th:action="@{'/housereservation/' + ${routeId}}" th:object="${reservations}" method="post">

                                    <div class="mb-3">
                                        <label for="datedebut" class="form-label">Date de début de disponibilité</label>
                                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                                        <input type="date" class="form-control" id="datedebut" th:field="*{startDate}">
                                    </div>

                                    <div class="mb-3">
                                        <label for="datefin" class="form-label">Date de fin de disponibilité</label>
                                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('startDate')}" th:errors="*{endDate}"></div>
                                        <input type="date" class="form-control" id="datefin" th:field="*{endDate}">
                                    </div>

                                    <div class="mb-3 text-center">
                                        <button type="submit" class="btn btn-primary" value="Submit">Réserver</button>
                                        <button type="reset" class="btn btn-primary" value="Reset">Réinitialiser les dates</button>
                                    </div>
<!--                                    <p th:if="${#fields.hasAnyErrors()}">Any Error</p>-->
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>