<!doctype html>
<html lang="fr">
<script>
    function includeHTML() {
        let z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState === 4) {
                        if (this.status === 200) {elmnt.innerHTML = this.responseText;}
                        if (this.status === 404) {elmnt.innerHTML = "Page not found.";}
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("w3-include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    }
</script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liste des maisons - SwapHome</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
</head>

<body>
<div w3-include-html="navbar.html"></div>
<script>
    includeHTML();
</script>

<div th:each="house : ${houses}">

    <h6>Liste des maisons</h6>
    <div class="list-group">

        <div class="row">
            <div class="col-lg-8 mx-auto">

                <!-- List group-->
                <ul class="list-group shadow">

                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2" th:text="${house.titre}">Titre</h5>
                                <p class="font-italic text-muted mb-0 small" th:text="${house.description}">Description</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2" th:text="${house.listeServices}">Liste des services</h6>
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                    </ul>
                                </div>
                            </div><img src="/images/piscine_grece.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <a class="btn btn-primary" th:href="@{/userlist}" role="button">Voir le profil</a>
                            </div>
                        </div>
                        <!-- End -->
                    </li>
                    <!-- End -->

<!--                    &lt;!&ndash; list group item&ndash;&gt;-->
<!--                    <li class="list-group-item">-->
<!--                        &lt;!&ndash; Custom content&ndash;&gt;-->
<!--                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">-->
<!--                            <div class="media-body order-2 order-lg-1">-->
<!--                                <h5 class="mt-0 font-weight-bold mb-2">Grosse baraque piscine indoor</h5>-->
<!--                                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>-->
<!--                                <div class="d-flex align-items-center justify-content-between mt-1">-->
<!--                                    <h6 class="font-weight-bold my-2">Unique en son genre</h6>-->
<!--                                    <ul class="list-inline small">-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div><img src="/images/piscine_interieure.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">-->
<!--                            <div class="d-flex align-items-center justify-content-between mt-1">-->
<!--                                <a class="btn btn-primary" th:href="@{/userlist}" role="button">Voir le profil</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End &ndash;&gt;-->
<!--                    </li>-->
<!--                    &lt;!&ndash; End &ndash;&gt;-->

<!--                    &lt;!&ndash; list group item &ndash;&gt;-->
<!--                    <li class="list-group-item">-->
<!--                        &lt;!&ndash; Custom content&ndash;&gt;-->
<!--                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">-->
<!--                            <div class="media-body order-2 order-lg-1">-->
<!--                                <h5 class="mt-0 font-weight-bold mb-2">Maison troglodite</h5>-->
<!--                                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>-->
<!--                                <div class="d-flex align-items-center justify-content-between mt-1">-->
<!--                                    <h6 class="font-weight-bold my-2">TRO-GLO-DITE</h6>-->
<!--                                    <ul class="list-inline small">-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div><img src="/images/maison_troglodyte.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">-->
<!--                            <div class="d-flex align-items-center justify-content-between mt-1">-->
<!--                                <a class="btn btn-primary" th:href="@{/userlist}" role="button">Voir le profil</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End &ndash;&gt;-->
<!--                    </li>-->
<!--                    &lt;!&ndash; End &ndash;&gt;-->

<!--                    &lt;!&ndash; list group item &ndash;&gt;-->
<!--                    <li class="list-group-item">-->
<!--                        &lt;!&ndash; Custom content&ndash;&gt;-->
<!--                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">-->
<!--                            <div class="media-body order-2 order-lg-1">-->
<!--                                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>-->
<!--                                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>-->
<!--                                <div class="d-flex align-items-center justify-content-between mt-1">-->
<!--                                    <h6 class="font-weight-bold my-2">$220.00</h6>-->
<!--                                    <ul class="list-inline small">-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div><img src="/images/chaumiere_france.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">-->
<!--                            <div class="d-flex align-items-center justify-content-between mt-1">-->
<!--                                <a class="btn btn-primary" th:href="@{/userlist}" role="button">Voir le profil</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End &ndash;&gt;-->
<!--                    </li>-->
<!--                    &lt;!&ndash; End &ndash;&gt;-->

                </ul>
                <!-- End -->
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>