<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/default">
<body>
<div id="page" layout:fragment="content">
    <link rel="stylesheet" href="/css/userlist.css">
    <div class="list-group" th:each="user : ${users}">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow mt-2">
                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase mb-0">Liste des utilisateurs</h5>
                                </div>
                                <div class="table-responsive">
                                    <table class="table no-wrap user-table mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Nom complet</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Role</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Lien</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td class="pl-4" th:text="${user.id}"></td>
                                            <td th:text="|${#strings.capitalize(user.prenom)} ${#strings.capitalize(user.nom)}|"></td>
                                            <td class="text-muted" th:text="${user.email}"><br></td>
                                            <td th:with="roleLC=${#strings.toLowerCase(user.role)}" th:text="${#strings.capitalize(roleLC)}"></td>
                                            <td><a class="btn btn-primary" th:href="@{${'/user/' + user.id}}" role="button">Profil</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>