<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/default">
<body>
<div id="page" layout:fragment="content">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center">
                        <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
                    </div>
                    <div class="text-center mt-3">
                        <span class="bg-secondary p-1 px-4 rounded text-white">Utilisateur vérifié</span>
                        <h5 class="mt-2 mb-0">Alexender Schidmt</h5>
                        <span>A vos petits soins</span>
                        <div class="px-4 mt-1">
                            <p class="fonts">J'ai toujours aimé le partage, c'est une de mes valeurs.
                                J'aime les animaux, ils seront donc bienvenus dans mon humble demeure</p>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-outline-primary px-4">Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>